body {
    margin: 0;
    font-family: Arial, sans-serif;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*box-sizing: border-box;*/
}

.header {
    /*width: 100%;*/
   /* padding: 20px;*/
    color: white;
    /*box-sizing: border-box;*/
}

.header {
    background-color: darkblue;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-between; */
    
}

.header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.menu-bar {
    margin: 1rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }

.main {
    flex: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #122dc781;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    width: 100%;
    gap: 1px;
    justify-content: space-between;
}

.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 230px;
    height: 100px;
    padding: 30px;
    border: 3px solid #060567;
    background-color: #bfcdfc;
    margin: 10px;
}

.card img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.card p {
    margin: 0;
    font-size: 10px;
    line-height: 1.2;
    max-width: 30px;
}
h5{
color: #fff;
}
.parrofo, .card{
    color: #fff;
}
.cards,.fonds{
    text-decoration:underline rgb(52, 95, 174);
    color: #060567;
    font: 2em sans-serif;

}

.footer {
    width: 100%;
    height: 5rem;
    background-color: #051675;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-social-networks {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    list-style: none;
  }
  
  .navbar-social-networks > li > a {
    color: #fff;
  }
  
  .navbar-social-networks > li > a:hover {
    color: #9436ff;
    text-shadow: 0 0 2px #fff;
  }
  
  @media screen and (min-width: 480px) and (max-width: 932px) {
    header {    
      width: 100vw;
    }
  
    main {
      width: 100vw;
    }
}
.container-projects {
      display: flex;
      flex-direction: column;
      align-items: center;
    } 
  
  .container-projects > .card {
      width: 20rem;
    }
   
    .footer img {
      width: 60px;
      height: 60px;
  }


@media (max-width: 853px) {
  .footer .right {
      max-width: 60%;
  }
}